<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body    
    h3 Be creative, make your own story
    form(method='POST' action='/story/new')
        textarea(name="", cols="30", rows="10")
        br
        input(type='submit')
    br
    br
    br